{% from "bootstrap5/form.html" import render_form %}
{% extends "base.html" %} {% block content %}

{% include 'navbar.html' %}

<body>
<h1 style="text-align:center;">To-do List</h1>
<div class="container" style="padding: 20px; width:60%; margin-left: 20%;">
    <form class="container" style="width:60%">
        <table style="margin-left: 10%">
            <tr>
                <td><label class="form-label">Enter your next task</label></td>
                <td><input type="text"></td>
                <td>
                    <input class="btn btn-primary" type="submit" value="✔">
                </td>
            </tr>
        </table>

</form>
</div>
</body>

{% include 'footer.html' %}

{% endblock %}