{% from "bootstrap5/form.html" import render_form %}
{% extends "base.html" %} {% block content %}

{% include 'navbar.html' %}

<body>
<h1 style="text-align:center;">To-do List</h1>
<div class="container" style="padding: 20px; width:60%; margin-left: 20%;">
    <form class="container" style="width:60%" action="/add_task" method="post">
        <table style="margin-left: 10%">
            <tr>
                <td>{{form.description.label}}</td>
                <td>{{form.description(size=20)}}</td>
                <td>{{form.submit}}</td>
            </tr>
        </table>
</form>
<table>
    {% if current_user.is_authenticated %}
    {% for task in data %}
    <tr>
    <td>
    {{ task.description }}
    </td>
    </tr>
    {% endfor %}
    {% endif %}
</table>
</div>
</body>

{% include 'footer.html' %}

{% endblock %}