{% from "bootstrap5/form.html" import render_form %}
{% extends "base.html" %} {% block content %}
{% include 'navbar.html' %}

<body>
<h1 style="text-align:center;">To-do List</h1>
<div class="container" style="display:flex; flex-direction:column;">
    <form class="container" action="/add_task" method="post" style="display:flex;">
        <table>
            <tr>
                <td>{{form.description.label}}</td>
                <td>{{form.description(size=20)}}</td>
                <td>{{form.submit}}</td>
            </tr>
        </table>
</form>
<table style="display:flex; flex: 1; gap: 20px;">
    {% if current_user.is_authenticated %}
    {% for task in data %}
    <tr style="display:flex; gap:70px;">
    <td>{{ task.date_created | datetime_filter }}</td>
    <td>{{ task.description }}</td>
    <td>Due Date: <input type="date"></td>
    </tr>
    {% endfor %}
    {% endif %}
</table>
</div>
</body>

{% include 'footer.html' %}

{% endblock %}