{% from "bootstrap5/form.html" import render_form %}
{% extends "base.html" %} {% block content %}

{% include 'navbar.html' %}



<body>
<div>
<form method="post" action="/log_in" style="display:flex; justify-content:center; flex-direction: row; flex: 1; margin-top:50px">
    {{ form.csrf_token }}
    <div>
    {{ form.username.label }}
    <br>
    {{ form.password.label }}
    </div>
    <div>
    {{form.username(size=20) }}
    <br>
    {{form.password(size=20) }}
    <br>
    {{form.submit}}
    </div>
</form>
<div style="display:flex; justify-content:center; margin-top: 50px; flex-direction:column; align-items:center;">
<p style="margin:0px;">No account?</p>
<a href="/create_account">Register</a>
</div>
</div>
</body>

{% include 'footer.html' %}

{% endblock %}