{% from "bootstrap5/form.html" import render_form %}
{% extends "base.html" %} {% block content %}

{% include 'navbar.html' %}


<style>
    .column{
    display:flex;
    flex-direction:column;
    gap:10px;
    }
    .login-container{
    display:flex;
    justify-content:center;
    flex-direction:row;
    flex: 1;
    }
</style>

<body>
<div>
<form method="post" action="/log_in" class="login-container" style="margin-top:50px">
    {{ form.csrf_token }}
    <div class="column" style="gap:17px; text-align:right;">
    {{ form.username.label }}
    {{ form.password.label }}
    </div>
    <div class="column">
    {{form.username(size=20) }}
    {{form.password(size=20) }}
    {{form.submit}}
    </div>
</form>
<div style="display:flex; justify-content:center; margin-top: 50px; flex-direction:column; align-items:center;">
<p style="margin:0px;">No account?</p>
<a href="/create_account">Register</a>
</div>
</div>
<div style="display:flex; justify-content:center;">
{% with messages = get_flashed_messages(with_categories=True) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
</div>
</body>

{% include 'footer.html' %}

{% endblock %}